.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.coming-soon-img {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 113px;
  height: 113px;
  background-color: white;
  margin-top: .5rem;
}

.ae-icon {
  position: relative;
  top: 0;
  left: 0;
  display: none;
}

/* Remove below when Analyte Explorer is finished */
.ae__link-text::after {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
