<div class='ISCore'>

<div class="overview-spacing">
    <span class="bold-text">Principal Investigator:</span> <span>Steven Kleinstein</span>
</div>
<div class="overview-spacing">
    <span class="bold-text">Title:</span> <span>Immune Signatures II</span>
</div>
<div class="overview-spacing">
    <span class="bold-text">Number of participants:</span> <span id="subjects">1721</span>
</div>
<div class="overview-spacing">
    <span class="bold-text">Brief description:</span> 
    <span>Identification of vaccine response signatures in order to determine common
        signatures associated with successful responses across different vaccines</span>
</div>
<div class="overview-spacing">
        <span class="bold-text">Description:</span>
        <a class="showSummary">show</a>
        <div class="hidden">
                <p>
                        A central goal of the Human Immunology Project Consortium (HIPC) 
                        is the identification of molecular “signatures” that correlate 
                        with the outcomes of vaccinations, adjuvants or natural infections 
                        in humans. These signature result from the computational analysis 
                        of large-scale experimental data from high-throughput systems 
                        biology approaches coupled with detailed clinical phenotyping in
                        well-characterized human cohorts. 
                </p>
                <p>
                        This IS2 study presents results related to one of 
                        our motivating biological projects where we have focused on identifying 
                        vaccination response signatures in young adults and a comparative 
                        meta-analysis across different vaccines. We sought to determine 
                        whether there was a common signature associated with successful 
                        responses across different vaccines.
                </p>
        </div>
    </div>
    <div class="overview-spacing">
        <span class="bold-text">Objectives:</span>
        <a class="showSummary">show</a>
        <div class="hidden">
            <p>
                    The goal of the highly 
                    collaborative “signatures project” proposed is identifying, 
                    standardizing and disseminating HIPC immune signatures. 
            </p>
        </div>
    </div>
    <div class="overview-spacing">
        <span class="bold-text">Endpoints:</span>
        <a class="showSummary">show</a>
        <div class="hidden">
        <ol>
            <li>
                    Develop a data model and submission system to standardize
                    immune signatures involving genes, proteins, cell subsets and 
                    metabolites, as well as a dashboard to disseminate this information
            </li>
            <li>
                    Populate the data model by manually curating signatures from 
                    HIPC and related publications, as well as generating new signatures 
                    through a re-analysis of existing data
            </li>
            <li>
                    Carry out motivating 
                    biological projects
            </li>
        </ol>
        </div>
    </div>
<div class="overview-spacing">
    <span class="bold-text">Available datasets:</span> <span id="Assays">Enzyme-linked immunosorbent assay (ELISA), Hemagglutination inhibition (HAI), Neutralizing antibody titer<br></span>
</div>
<div class="overview-spacing">
    <span class="bold-text">Available raw data files:</span> <span id="RawDataFiles">Gene expression microarray data files<br></span>
</div>
<div class="overview-spacing">
    <span class="bold-text">Sponsoring organization:</span> <span>NIAID</span>
</div>
<!-- <div>
    <a class="labkey-text-link bold-text" href="http://immunology.sciencemag.org/content/2/14/eaal4656" title="ImmuneSignatures Manuscript" target="_blank">PROCEED TO PAPER</a>
</div> -->
<div>
    <a class="labkey-text-link bold-text" id="privateSdyLink" title="IS2 Private Study" target="_blank">PROCEED TO STUDY DATA (LOGIN REQUIRED)</a>
</div>
</div>


<script type="text/javascript">
// update privateSdyLink with relative path for test or prod
jQuery('#privateSdyLink')[0].href = LABKEY.ActionURL.getBaseURL() + "project/HIPC/IS2/begin.view?";

// helper function for show / hide of some divs
    jQuery( '.showSummary' ).click(
            function(){
                var e = jQuery(this);
                e.next().toggleClass( 'hidden' );
                e.text( e.text() == 'show' ? 'hide' : 'show' );
            }
        );

LABKEY.requiresCss( "ISCore/Common/ISCore.css" );

// Get dynamic data from immport.public table, which may differ from
// similar tables inside the private study container.
LABKEY.requiresScript( "ISCore/Common/ISCore.js", true, function() {

        // Ext.each( [ 'Assays', 'Raw data files' ], function( t ){
        //     LABKEY.Query.selectRows({
        //         requiredVersion: 12.3,
        //         schemaName: 'immport.public',
        //         queryName: 'IS1_datasets',
        //         success: function( results ){ onSuccessTbls( results, t ) },
        //         failure: LABKEY.ext.ISCore.onFailure,
        //         filterArray: [
        //             LABKEY.Filter.create('CategoryLabel', t)
        //         ]
        //     });
        // });

        // function onSuccessTbls( results, target ){
        //     var
        //         rows = results.rows,
        //         length = rows.length,
        //         datasets = [];
        //     for ( var idxRow = 0; idxRow < length; idxRow ++ ){
        //         var row = rows[ idxRow ];
        //         datasets.push(row['Label'].value);
        //     }
        //     if(target == 'Raw data files'){ target = "RawDataFiles" };
        //     jQuery( '#' + target )[0].innerHTML = length == 0 ? 'None' : datasets.join(', ');
        // };

        // LABKEY.Query.executeSql({
        //     schemaName: 'immport.public',
        //     sql: "SELECT COUNT(*) as cnt FROM dimdemographic WHERE Study IN ('SDY63','SDY67','SDY80','SDY212','SDY400','SDY404')",
        //     success: function(r){ jQuery( '#subjects' )[0].innerHTML = r.rows[0].cnt; }
        // });

    jQuery('.ISCore').parent().next().css('margin-after', 0);
    jQuery('.ISCore').parent().next().css('margin-before', 0);
});
</script>

