<div class='ISCore'>

<div class="overview-spacing">
    <span class="bold-text">Principal Investigator:</span> <span>Steven Kleinstein</span>
</div>
<div class="overview-spacing">
    <span class="bold-text">Title:</span> <span>Placeholder</span>
</div>
<div class="overview-spacing">
    <span class="bold-text">Condition studied:</span> <span class="paddingRight25px">Placeholder.</span> <span class="bold-text">Number of participants:</span> <span id="subjects"></span>
</div>
<div class="overview-spacing">
    <span class="bold-text">Brief description:</span> <span>Placeholder</span>
</div>
<div class="overview-spacing">
    <span class="bold-text">Description:</span>
    <a href="#" class="showSummary">show</a>
    <div class="hidden">
Placeholder
    </div>
</div>
<div class="overview-spacing">
    <span class="bold-text">Objectives:</span>
    <a href="#" class="showSummary">show</a>
    <div class="hidden">
Placeholder
    </div>
</div>
<div class="overview-spacing">
    <span class="bold-text">Endpoints:</span>
    <a href="#" class="showSummary">show</a>
    <div class="hidden">
    <ol>
        <li>Significant single-gene predictors of immune response using Stanford's <a href="https://www.r-pkg.org/pkg/MetaIntegrator" title="MetaIntegrator">MetaIntegrator</a> R Package
        </li>
        <li>Significant gene-set predictors of immune response using Yale's <a href="https://bioconductor.org/packages/release/bioc/html/qusage.html" title="QuSage">QuSage</a> R package
        </li>
    </ol>
    </div>
</div>
<div class="overview-spacing">
    <span class="bold-text">Available datasets:</span> <span id="Assays"><br></span>
</div>
<div class="overview-spacing">
    <span class="bold-text">Available raw data files:</span> <span id="RawDataFiles"><br></span>
</div>
<div class="overview-spacing">
    <span class="bold-text">Sponsoring organization:</span> <span>NIAID</span>
</div>
<div>
    <a class="labkey-text-link bold-text" href="http://immunology.sciencemag.org/content/2/14/eaal4656" title="ImmuneSignatures Manuscript" target="_blank">PROCEED TO PAPER</a>
</div>
<div>
    <a class="labkey-text-link bold-text" id="privateSdyLink" title="IS1 Private Study" target="_blank">PROCEED TO STUDY DATA (LOGIN REQUIRED)</a>
</div>
</div>


<script type="text/javascript">
// update privateSdyLink with relative path for test or prod
jQuery('#privateSdyLink')[0].href = LABKEY.ActionURL.getBaseURL() + "project/HIPC/IS1/begin.view?";

// helper function for show / hide of some divs
    jQuery( '.showSummary' ).click(
            function(){
                var e = jQuery(this);
                e.next().toggleClass( 'hidden' );
                e.text( e.text() == 'show' ? 'hide' : 'show' );
            }
        );

LABKEY.requiresCss( "ISCore/Common/ISCore.css" );

// Get dynamic data from immport.public table, which may differ from
// similar tables inside the private study container.
LABKEY.requiresScript( "ISCore/Common/ISCore.js", true, function() {

        Ext.each( [ 'Assays', 'Raw data files' ], function( t ){
            LABKEY.Query.selectRows({
                requiredVersion: 12.3,
                schemaName: 'immport.public',
                queryName: 'IS1_datasets',
                success: function( results ){ onSuccessTbls( results, t ) },
                failure: LABKEY.ext.ISCore.onFailure,
                filterArray: [
                    LABKEY.Filter.create('CategoryLabel', t)
                ]
            });
        });

        function onSuccessTbls( results, target ){
            var
                rows = results.rows,
                length = rows.length,
                datasets = [];
            for ( var idxRow = 0; idxRow < length; idxRow ++ ){
                var row = rows[ idxRow ];
                datasets.push(row['Label'].value);
            }
            if(target == 'Raw data files'){ target = "RawDataFiles" };
            jQuery( '#' + target )[0].innerHTML = length == 0 ? 'None' : datasets.join(', ');
        };

        LABKEY.Query.executeSql({
            schemaName: 'immport.public',
            sql: "SELECT COUNT(*) as cnt FROM dimdemographic WHERE Study IN ('SDY63','SDY67','SDY80','SDY212','SDY400','SDY404')",
            success: function(r){ jQuery( '#subjects' )[0].innerHTML = r.rows[0].cnt; }
        });

    jQuery('.ISCore').parent().next().css('margin-after', 0);
    jQuery('.ISCore').parent().next().css('margin-before', 0);
});
</script>

