export JAVA_HOME=/home/ehenrich/release19.3/jdk-13.0.1
export CATALINA_HOME=/home/ehenrich/release19.3/tomcat
export JAVA_OPTS=-Ddevmode=true

export GRADLE_DEPLOY_DIR=/home/ehenrich/release19.3/build/deploy
export GRADLE_LKMODS_DIR=/home/ehenrich/LabKeyModules
export GRADLE_EXTERNAL_MODULES_DIR=/home/ehenrich/release19.3/build/deploy/externalModules

export GRADLE_HOME=/opt/gradle/gradle-6.2.2
export PATH=${GRADLE_HOME}/bin:${PATH}