.wrapper {
  width: 300px;
  background-color: #f7f7f9;
  padding: 15px;
  border: 2px solid #aaaaaa;
}

.filter-indicator {
  width: 100%;
  border-radius: 10px;
  margin: 2px;
  white-space: normal !important;
  word-wrap: break-word;
  padding: 0;
  text-align: left;
  display: inline-block;
  margin-left: 15px;
}

.filter-indicator-text {
  width: 90%;
  float: left;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.filter-indicator-text.study {
  background: #54278f;
  color: white;
}

.filter-indicator-text.participant {
  background: #6baed6;
  color: white;
}

.filter-indicator-text.sample {
  background: #238b45;
  color: white;
}

button {
  float: inline-end;
}

h2 {
  display: inline;
}

.study-card {
  border: 2px solid #bcbcbc;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  width: 280px;
  display: inline-block;
}

.study-label {
  display: block;
  margin-top: 0;
  margin-bottom: 5px;
  font-variant: small-caps;
  font-size: 14px;
  line-height: 1.4
}

.checkbox {
  display: inline-block;
  margin: 0;
  position: relative;
}

.study-id {
  font-variant: small-caps;
  font-size: 14px;
  line-height: 1.4
}

.study-pi {
  float: right;
}

hr {
  margin-top: 5px;
  margin-bottom: 2px;
}

.study-title {
  display: block;
  text-align: left;
  font-weight: bold;
  font-size: 1em; 
  margin-bottom: 10px;
  margin-top: 10px;
}

.progress {
  margin-bottom:0px;
  height:10px;
}

.card-text {
  font-size:0.9em;
  margin: 0 15px 0 15px;
}
textarea {
  font-family:'Courier New', Courier, monospace
}

#df-study-panel {
  height: 500px;
  overflow-y:scroll;
}

.tinyheatmap {
  border: solid 1px black
}


/* -------- tooltip ----------- */
#heatmap-label { 
  float: right;
  position: absolute;     
  text-align: left;     
  width: auto;          
  height: 35px;         
  padding: 2px;      
  padding-bottom: 0; 
  font: 12px sans-serif;    
  background: lightsteelblue; 
  border: 0px;    
  pointer-events: none;     
  opacity: 0
}

.arrow-down {
  float: right;
    position: absolute;     
    background: transparent; 
    opacity: 0;
    padding-bottom: 0;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid lightsteelblue;
}
