.data-summary .mask-loading {
    border-left: 0px;
    left: 0 !important;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    z-index: 999;
}

.data-summary .mask-loading div {
    background: no-repeat 5px 5px;
    background-color: white !important;
    background-image: url(images/loading.gif) !important;
    background-position: 0% 50%;
    padding: 5px 10px 5px 25px;
    text-align: center;
}

.full-width {
    width: 100%;
}
