<div style='text-align: center; color: #676767; font-size:10pt; padding:6px;'>
    ImmuneSpace is powered by <a href='http://labkey.com' target='_blank'>LabKey Software</a>,
    supported by <a href='http://www.immuneprofiling.org' target='_blank'>HIPC</a> and <a href='http://www.niaid.nih.gov' target='_blank'>NIAID</a></br>
    Follow us on <a href='https://twitter.com/ImmuneSpace' target='_blank'>(Twitter)</a> and <a href='https://www.youtube.com/channel/UC5orwc-mNEvqN56yVpMNRfw' target='_blank'>(YouTube)</a> &#8226; <a href='mailto:webmaster@immunespace.org'>Contact us</a>
</div>

