<div id="dataFinderWrapper" class="labkey-data-finder-outer">
    <div id="dataFinderApp" class="labkey-data-finder-inner" ng-app="dataFinderApp" ng-controller="dataFinder">
        <div id="studyPopup"></div>
    </div>
</div>

<script type="text/javascript">

    var $=$||jQuery;

    //
    // INITIALIZE DIMENSIONS
    //

    var dimensions =
    {
        "Study":
                {
                    name: 'Study', pluralName: 'Studies', hierarchyName: 'Study', levelName: 'Name', allMemberName: '[Study].[(All)]', popup: true,
                    filterType: "OR", filterOptions: [{type: "OR", caption: "is any of"}]
                },
        "Condition":
                {
                    name: 'Condition', hierarchyName: 'Study.Conditions', levelName: 'Condition', allMemberName: '[Study.Conditions].[(All)]',
                    filterType: "OR", filterOptions: [{type: "OR", caption: "is any of"}]
                },
        "Assay":
                {
                    name: 'Assay', hierarchyName: 'Assay', levelName: 'Assay', allMemberName: '[Assay].[(All)]',
                    filterType: "AND", filterOptions: [{type: "OR", caption: "data for any of these"}, { type: "AND", caption: "data for all of these"}]
                },
        "Type":
                {
                    name: 'Type', hierarchyName: 'Study.Type', levelName: 'Type', allMemberName: '[Study.Type].[(All)]',
                    filterType: "OR", filterOptions: [{type: "OR", caption: "is any of"}]
                },
        "Category":
                {
                    caption: 'Research focus', name: 'Category', hierarchyName: 'Study.Category', levelName: 'Category', allMemberName: '[Study.Category].[(All)]',
                    filterType: "OR", filterOptions: [{type: "OR", caption: "is any of"}]
                },
        "Timepoint":
                {
                    caption: 'Day of Study', name: 'Timepoint', hierarchyName: 'Timepoint.Timepoints', levelName: 'Timepoint', allMemberName: '[Timepoint.Timepoints].[(All)]',
                    filterType: "AND", filterOptions: [{type: "OR", caption: "has data for any of"}, { type: "AND", caption: "has data for all of"}]
                },
        "Race":
                {
                    name: 'Race', hierarchyName: 'Subject.Race', levelName: 'Race', allMemberName: '[Subject.Race].[(All)]',
                    filterType: "OR", filterOptions: [{type: "OR", caption: "is any of"}]
                },
        "Age":
                {
                    name: 'Age', hierarchyName: 'Subject.Age', levelName: 'Age', allMemberName: '[Subject.Age].[(All)]',
                    filterType: "OR", filterOptions: [{type: "OR", caption: "is any of"}]
                },
        "Gender":
                {
                    name: 'Gender', hierarchyName: 'Subject.Gender', levelName: 'Gender', allMemberName: '[Subject.Gender].[(All)]',
                    filterType: "OR", filterOptions: [{type: "OR", caption: "is any of"}]
                },
        "Species":
                {
                    name: 'Species', pluralName: 'Species', hierarchyName: 'Subject.Species', levelName: 'Species', allMemberName: '[Subject.Species].[(All)]',
                    filterType: "OR", filterOptions: [{type: "OR", caption: "is any of"}]
                },
        "Principal":
                {
                    name: 'Principal', pluralName: 'Species', hierarchyName: 'Study.Principal', levelName: 'Principal', allMemberName: '[Study.Principal].[(All)]',
                    filterType: "OR", filterOptions: [{type: "OR", caption: "is any of"}]
                },
        "ExposureMaterial":
                {
                    name: 'ExposureMaterial', caption:"Exposure Material", pluralName: 'Exposure Materials', hierarchyName: 'Subject.ExposureMaterial', levelName: 'ExposureMaterial', allMemberName: '[Subject.ExposureMaterial].[(All)]',
                    filterType: "OR", filterOptions: [{type: "OR", caption: "is any of"}]
                },
        "ExposureProcess":
                {
                    name: 'ExposureProcess', caption:"Exposure Process", pluralName: 'Exposure Processes', hierarchyName: 'Subject.ExposureProcess', levelName: 'ExposureProcess', allMemberName: '[Subject.ExposureProcess].[(All)]',
                    filterType: "OR", filterOptions: [{type: "OR", caption: "is any of"}]
                },
        "SampleType":
                {
                    name: 'SampleType', caption:"Sample Type", pluralName: 'Sample Types', hierarchyName: 'Sample.Type', levelName: 'Type', allMemberName: '[Sample.Type].[(All)]',
                    filterType: "OR", filterOptions: [{type: "OR", caption: "is any of"}]
                },
        "Subject":
                {
                    name: 'Subject', hierarchyName: 'Subject', levelName: 'Subject', allMemberName: '[Subject].[(All)]',
                    filterType: "OR", filterOptions: [{type: "OR", caption: "is any of"}]
                }
    };

    for (var p in dimensions)
    {
        var dim = dimensions[p];
        LABKEY.Utils.apply(dim, {members: [], memberMap: {}, filters: [], summaryCount: 0, allMemberCount: 0});
        dim.pluralName = dim.pluralName || dim.name + 's';
        dim.filterType = dim.filterType || "OR";
        for (var f = 0; f < dim.filterOptions.length; f++)
        {
            if (dim.filterOptions[f].type === dim.filterType)
                dim.filterCaption = dim.filterOptions[f].caption;
        }
    }


    LABKEY.Utils.onReady(function()
    {
        var map = {};

        // query immport.studies
        var SQL = LABKEY.Query.SQL || LABKEY.Query.experimental.SQL;
        var queryComplete = 0;

        var immportStudySQL =
                "SELECT study.*, P.name as program_title, pi.pi_names\n" +
                "FROM immport.study\n" +
                " LEFT OUTER JOIN (SELECT study_accession, MIN(contract_grant_id) as contract_grant_id FROM immport.contract_grant_2_study GROUP BY study_accession) CG2S ON study.study_accession = CG2S.study_accession\n" +
                " LEFT OUTER JOIN immport.contract_grant C ON CG2S.contract_grant_id = C.contract_grant_id\n" +
                " LEFT OUTER JOIN immport.program P on C.program_id = P.program_id\n" +
                " LEFT OUTER JOIN\n" +
                "\t(\n" +
                // extra parens required in group_concat is probably a bug
                "\tSELECT study_accession, group_concat( (first_name || ' ' || last_name), ', ') as pi_names\n" +
                "\tFROM immport.study_personnel\n" +
                "\tWHERE role_in_study like '%principal%' OR role_in_study like '%Principal%'\n" +
                "\tGROUP BY study_accession) pi ON study.study_accession = pi.study_accession\n";

        SQL.execute({schema:"immport", sql:immportStudySQL, success:function(raw)
            {
                var immportStudies = SQL.asObjects(raw.names, raw.rows);
                immportStudies.forEach(function(immportStudy)
                {
                    var study_accession = immportStudy.study_accession;
                    var hipc_funded = (immportStudy.program_title && immportStudy.program_title.indexOf("HIPC")>=0);
                    map[study_accession] = $.extend(
                            map[study_accession]||{study_accession:study_accession, container:null, highlight:false, hipc_funded:hipc_funded, loaded:false, url:null},
                            {
                                id: parseInt(study_accession.substr(3)),
                                memberName: '[Study].[' + study_accession + ']',
                                pi : immportStudy.pi_names,
                                restricted : !!immportStudy.restricted,
                                title : immportStudy.brief_title || immportStudy.official_title
                            });
                });
                queryComplete++;
                if (queryComplete === 2)
                    renderFinder();
            }
        });
        SQL.execute({schema:"study", sql:"SELECT *, Container.Name FROM study.StudyProperties", success:function(raw)
            {
                var labkeyStudies = SQL.asObjects(raw.names, raw.rows);
                labkeyStudies.forEach(function(labkeyStudy){
                    var study_accession = labkeyStudy.Label || labkeyStudy.Name;
                    if (!/SDY[0-9]+/.exec(study_accession))
                        return;
                    var highlight = labkeyStudy.highlight_until && labkeyStudy.highlight_until>(new Date());
                    map[study_accession] = $.extend(
                            map[study_accession]||{study_accession:study_accession},
                            {
                                containerId : labkeyStudy.Container,
                                highlight : highlight,
                                hipc_funded: !!labkeyStudy.hipc_funded,
                                loaded: true,
                                url: LABKEY.ActionURL.buildURL("project","begin",LABKEY.ActionURL.getContainer() + "/" + study_accession)
                            });
                });
                queryComplete++;
                if (queryComplete === 2)
                    renderFinder();
            }
        });

        function renderFinder()
        {
            var studiesFromQuery = [];
            for (var study_accession in map)
            {
                if (map.hasOwnProperty(study_accession))
                    studiesFromQuery.push(map[study_accession]);
            }
            ReactDOM.render(React.createElement(DataFinderController, {studies:studiesFromQuery, dimensions:dimensions}), document.getElementById("dataFinderApp"));
        }
    });

</script>