// You can include here any css that will be shared between webparts

@use "~@immunespace/theme/dist/immunespace";
@use "./About";
@use "./DataStandards";
@use "./GeneExpression";
@use "./DataReleases";
@use "./SoftwareUpdates";

.navbar .container {
  margin-left: 0px;
}

.navbar.navbar-default {
  border: none;
}

div#about-page {
  ul.nav.navbar-nav {
    float: none;
    li {
      text-align: center;
      a {
        color: #787878;
        font-weight: immunespace.$font-weight--black;
        font-size: 14px;
        padding-bottom: 7px;
      }
    }
    .active,
    .open {
      a {
        color: immunespace.$dark-gray;
      }
    }
  }
}

.nav-menu-indicator-container {
  height: 0.25rem;
  width: 100%;
  border-bottom: 1px solid #b4bbbf;
}

.nav-menu-indicator {
  content: "";
  display: block;
  margin: 0;
  border: none;
  background: immunespace.$dark-gray;
  width: 130px;
  height: 0.25rem;
  transition: 0.3s ease-in-out;
}

.tab-content {
  padding-left: 15px;
}
