/* ************************************************************ */
/* ******************** Main General Styling ****************** */
/* ************************************************************ */
.labkey-page-header {
    background-image: url(/images/vman_app.png);
    background-position: top left;
    background-repeat: no-repeat !important;
}

.navbar-header a img {
    padding-left: 220px;
}
/* ************************************************************ */

/* ************************************************************ */
/* ***************** Top Bar Menu Items Styling *************** */
/* ************************************************************ */
#studies.folder-nav {
    width: 130px;
    min-width: 130px;
}

#tutorials ul li {
    width:  390px;
}
/* ************************************************************ */

/* ************************************************************ */
/* *********************** Tours Styling ********************** */
/* ************************************************************ */
div.hopscotch-bubble .hopscotch-bubble-number {
    background-color: #0c5d9c !important; /* THE THEME COLOR */
    background-image: none !important;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 0px !important;
}
/* ************************************************************ */

/* ************************************************************ */
/* ******************* Footer Icons Styling ******************* */
/* ************************************************************ */
.iconLink svg {
    height: 14pt;
    margin: 0 0 -0.25rem 0;
    padding: 0.25rem 0.25rem 0;
    width: 14pt;
}

.iconLink svg path {
    fill: #0c5d9c; /* THE THEME COLOR */
}

.iconLink svg:hover path {
    fill: #000000;
}

