<script src="https://cdn.datatables.net/1.10.1/js/jquery.dataTables.min.js" type="text/javascript"></script>
<div id='reportdiv'>Retrieving citations from PubMed, please wait...</div>
<script type='text/javascript'>
    var cnfReport = {
        failure: function(){
            document.getElementById('reportdiv').innerHTML = 'Unknown error.';
        },
        reportId: 'module:study_pubinfo/study_pubinfo.Rmd',
        success: function(result){
            var errors = result.errors;
            var outputParams = result.outputParams;
            if ( errors && errors.length > 0 ){
                LABKEY.ext.ISCore.onFailure({
                    exception: errors.join('\n')
                });
            } else if ( outputParams && outputParams.length > 0 ){
                var p = outputParams[0];
                document.getElementById('reportdiv').innerHTML = p.value;
            } else{
                LABKEY.ext.ISCore.onFailure({
                    exception: 'Strange situation: there are no reported errors, but also no output to show'
                });
            }
        }
    };
    LABKEY.Report.execute(cnfReport);
</script>

