@use "~@immunespace/theme/dist/immunespace";

@mixin title-style {
  font-size: 48px;
  line-height: 56px;
  font-weight: immunespace.$font-weight--black;
}

@mixin subsubtitle-style {
  font-size: 16px;
  line-height: 24px;
  font-weight: immunespace.$font-weight--bold;
}

@mixin button-text-style {
  font-size: 14px;
  line-height: 20px;
  font-weight: immunespace.$font-weight--bold;
}

@mixin base-text-style {
  font-size: 16px;
  line-height: 24px;
}

/** --- Bobber --------- */
@keyframes bobberLtr {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0.375rem, 0);
  }
}
