.analyte-dropdown-container {
  width: 100%;
  .analyte-dropdown {
    color: black;
    width: 100%;

    .analyte-dropdown-btn-text {
      display: inline-block;
      text-align: left;
      width: 100%;
    }
  }

  .analyte-dropdown:hover {
    background-color: white;
    transition: none;
  }

  .analyte-dropdown:focus {
    background-color: white;
  }
}
