.search-form {
  width: 100%;
}

.search-input-group {
  margin-top: 1rem;
  flex-wrap: nowrap;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
}
