$pariticipant-color:  #7F74ED;// #9f97f1;//periwinkle
// $study-color:#f3c450; // #EFB116; // gold
$study-color: #78c646; // pistaschio
// $sample-color: #59cb8f; // #22ba6a; //green 
$sample-color: #d5651a; // amber
