
.wrapper {
    width: 300px;
    background-color: #f7f7f9;
    padding:15px;
    border: 2px solid #aaaaaa;
}

.filter-indicator {
  width:100%;
  border-radius:10px;
  margin:2px;
  white-space:normal !important;
  word-wrap: break-word; 
  padding: 0;
  text-align: left;
  display:inline-block;
  margin-left: 15px;
}

.filter-indicator-text {
  width: 90%;
  float: left;
  padding-left:5px;
  padding-top:2px;
  padding-bottom:2px;
}

.filter-indicator-text.study {
  background:#54278F;
  color: white;
}

.filter-indicator-text.participant {
  background:#6BAED6;
  color:white;
}

.filter-indicator-text.sample {
  background:#238B45;
  color:white;
}

button {
    float: inline-end;
}

h2 {
    display:inline;
}