.study-card {
    border: 2px solid #bcbcbc;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 250px;
    display: inline-block;
}

.study-label {
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    font-variant: small-caps;
    font-size: 14px;
    line-height: 1.4
}

.checkbox {
    display: inline-block;
    margin: 0;
    position: relative;
}

.study-id {
    font-variant: small-caps;
    font-size: 14px;
    line-height: 1.4
}

.study-pi {
    float: right;
}

hr {
    margin-top: 5px;
    margin-bottom: 2px;
}

.study-title {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 1em; 
    margin-bottom; 10px;
    margin-top: 10px;
}

.progress {
    margin-bottom:0px;
    height:10px;
}

.card-text {
    font-size:0.9em;
    margin: 0 15px 0 15px;
  }