<script src="<%=contextPath%>/src/react.js"></script>
<script src="<%=contextPath%>/src/react-dom.js"></script>
<script src="<%=contextPath%>/src/babel.min.js"></script>
<link rel="stylesheet" href="<%=contextPath%>/filterView.css"></link>
<link rel="stylesheet" href="<%=contextPath%>/studyCard.css"></link>

<body>
    <div id="filter-view"></div>
    <div id="study-card"></div>

    <script src="<%=contextPath%>/filterView.js" type='text/babel'></script>
    <script src="<%=contextPath%>/studyCard.js" type='text/babel'></script>
</body>
