
<!-- Dependencies -->
<script src="<%=contextPath%>/dependencies/react.js"></script>
<script src="<%=contextPath%>/dependencies/react-dom.js"></script>
<script src="<%=contextPath%>/dependencies/babel.min.js"></script>
<link rel="stylesheet" href="<%=contextPath%>/filterView.css"></link>

<!-- Cube js -->
<script src="/query/olap.js?892172600" type="text/javascript"></script> 

<body>
    <div id="filter-view"></div>

    <script src="<%=contextPath%>/filterView.js" type='text/babel'></script>
</body>
