<style type="text/css">
	.mask-loading {
	    border-left: 0px;
	    left: 0 !important;
	    margin-left: 0px;
	    padding-left: 0px;
	    width: 100%;
	    z-index: 999;
	}
	
	.mask-loading div {
	    background: no-repeat 5px 5px;
	    background-color: white !important;
	    background-image: url(../../ext-3.4.1/resources/images/default/grid/loading.gif) !important;
	    background-position: 0% 50%;
	    padding: 5px 10px 5px 25px;
	    text-align: center;
	}
</style>

<div id='Summary'><div style='height: 15px;'></div></div>

<script type="text/javascript">

function loadData(){

    var myMask = new Ext.LoadMask(
        $('#Summary')[0],
        {
            msg: "Please, wait, while the aggregate<br/> summary table is loading",
            msgCls: 'mask-loading'
        }
    );

    myMask.show();

    LABKEY.contextPath = '';
    LABKEY.container = {};
    LABKEY.container.path = '/home';

    LABKEY.Query.selectRows({
        failure: function(a, b, c){
            myMask.hide();
            $('#Summary').append('<p style="margin-left: 30px; color: red;">Failed to retrieve the aggregate summary</p>');
        },
        success: function(d){
            var numStudies = d.rows.length, filterString = [];

            if ( numStudies == 0 ){
                myMask.hide();
                $('#Summary').append('<p style="margin-left: 30px; color: red;">Failed to retrieve the aggregate summary</p>');
            } else {

                Ext.each( d.rows, function(row, i){
                    filterString.push( '\'' + row.Name + '\'' );
                });
    
                filterString = '(' + filterString.join(',') + ')';
    
                var sqlAggregateCounts =
                    'SELECT' +
                    ' result AS assay_type,' +
                    ' CAST( SUM(subject_count) AS INTEGER ) AS subject_count ' +
                    'FROM' +
                    ' summaryResults ' +
                    'WHERE' +
                    ' study_accession IN ' + filterString + ' ' +
                    'GROUP BY' +
                    ' result';
            
                var sqlParticipantsCount =
                    'SELECT' +
                    ' COUNT(*) AS participants_count ' +
                    'FROM' +
                    ' subject ' +
                    'LEFT JOIN arm_2_subject arm2sub ON subject.subject_accession = arm2sub.subject_accession ' +
                    'LEFT JOIN arm_or_cohort arm ON arm2sub.arm_accession = arm.arm_accession ' +
                    'WHERE' +
                    ' study_accession IN ' + filterString + ' ' +
                    '';
            
                LABKEY.Query.executeSql({
                    failure: function(){
                        myMask.hide();
                        $('#Summary').append('<p style="margin-left: 30px; color: red;">Failed to retrieve the aggregate summary</p>');
                    },
                    success: function(d){
            
                        var participantsCount = d.rows[0].participants_count;
            
                        LABKEY.Query.executeSql({
                            failure: function(){
                                myMask.hide();
                                $('#Summary').append('<p style="margin-left: 30px; color: red;">Failed to retrieve the aggregate summary</p>');
                            },
                            success: function(d){
                            
                                $('#Summary').append(
                                    '<table>' + 
                                        '<tbody>' +
                                            '<tr>' +
                                                '<td>Studies</td>' +
                                                '<td style="white-space: nowrap;" align="right">' + numStudies + '</td>' +
                                            '</tr><tr>' +
                                                '<td>Subjects</td>' +
                                                '<td style="white-space: nowrap;" align="right">' + participantsCount + '</td>' +
                                            '</tr><tr>' +
                                                '<td>&nbsp;</td>' +
                                                '<td>&nbsp;</td>' +
                                            '</tr>'
                                            );
                                    
                                            Ext.each( d.rows, function(row, i){
                                                $('#Summary tbody').append(
                                                    '<tr>' +
                                                        '<td>' + row.assay_type + '</td>' +
                                                        '<td style="white-space: nowrap;" align="right">' + row.subject_count + '</td>' +
                                                    '</tr>'
                                                );
                                            });
                        
                                myMask.hide();
                            },
                            sql: sqlAggregateCounts,
                            schemaName: 'hipcdb'
                        });
            
                    },
                    sql: sqlParticipantsCount,
                    schemaName: 'hipcdb'
                }); 
            }
        },
        containerFilter: LABKEY.Query.containerFilter.allFolders,
        queryName: 'studies',
        schemaName: 'study'
    });
};

LABKEY.requiresScript(
	'//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js',
	true,
	loadData
);

</script>
