<div id='dataVisualization'></div>
<script type='text/javascript'>
Ext.DomHelper.append( Ext.query('#dataVisualization')[0],
'<div>The <a href="/DataExplorer' + LABKEY.container.path + '/begin.view">Data Explorer module</a> can be used to quickly visualize the assay data by plotting it.</div>' + 
'<div style=\'margin-top: 5px;\'>This module provides a simplified interface that takes advantage of ImmuneSpace\'s assay standardization.</div>' +
'<div style=\'margin-top: 5px;\'>Look for the <b>DATA EXPLORER</b> button on any grid to start exploring the chosen dataset.</div>'
);
</script>

