<div id='dataVisualization'></div>
<script type='text/javascript'>
Ext.DomHelper.append( Ext.query('#dataVisualization')[0],
'<div>The <a href="/DataExplorer' + LABKEY.container.path + '/begin.view">Data Explorer module</a> can be used to quickly visualize the assay data by plotting it.</div>' + 
'<div style=\'margin-top: 5px;\'>This module provides a simplified interface that takes advantage of ImmuneSpace\'s assay standardization.</div>' +
'<div style=\'margin-top: 15px;\'>The <a href="https://www.labkey.org/wiki/home/Documentation/page.view?name=quickchart" target="_blank">Quick Chart</a> LabKey framework is also accessible from any data grid to explore non-standard datasets.</div>'
);
</script>

