@import '../theme/_DataAccess.scss';
.data-access-top {
    // font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    $theme-colors: (
        'primary': #255c97, 
        'secondary': #FF5B00,
        'success': #22BA6A,
        'info': #EFB116, 
        'warning': #F98E00,
        'danger': #CC5874
    );
    .btn-primary {
        background-image: none;
    }
}

.data-access-dropdown {
    .btn {
        font-size: 20px;
        font-weight: normal;
    }
}