<!-- Might need to download these resources and add them to the project - had some temporary issues with them loading -->
<script src="../../ISCore/R/htmlwidgets-0.8/htmlwidgets.js"></script>
<script src="../../ISCore/R/jquery-1.12.4/jquery.min.js"></script>
<script src="../../ISCore/R/datatables-binding-0.2/datatables.js"></script>
<link href="../../ISCore/R/dt-core-1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="../../ISCore/R/dt-core-1.10.12/css/jquery.dataTables.extra.css" rel="stylesheet" />
<script src="../../ISCore/R/dt-core-1.10.12/js/jquery.dataTables.min.js"></script>

<script type='text/javascript'>
    Ext.onReady(
        LABKEY.ext.ISCore.initModule.createCallback(
            function( webPartDiv ){ return new LABKEY.ext.MonitorIS({ webPartDivId: webPartDiv }); },
            <%=webpartContext%>.wrapperDivId
        )
    );
</script>
