<button onclick="addMales()">Add New Group</button>
<div id='subs'></div>
<div id='goToSubs'></div>
<script type="text/javascript">

  var genderCategoryId;
  var males = [];
  var females = [];
  // Query demographics
  // Add Gender category and Male group
  // Find id of gender category
  // Add Female group to that category


  LABKEY.Query.selectRows({
    columns: 'SUBJECT_ACCESSION, gender',
    queryName: 'demographics',
    schemaName: 'study',
    sort: 'SUBJECT_ACCESSION',
    success: onSuccessDemo
  })



  function addMales() {
    Ext4.Ajax.request({
      url : (LABKEY.ActionURL.buildURL("participant-group", "saveParticipantGroup")),
      method : 'POST',
      jsonData : {
        label : 'Male',
        participantIds : males,
        categoryLabel : 'Gender',
        categoryType : 'manual'
      },
      success: onSuccessMales,
      failure: onError
    })
  }

  function addFemales() {
    Ext4.Ajax.request({
      url : (LABKEY.ActionURL.buildURL("participant-group", "saveParticipantGroup")),
      method : 'POST',
      jsonData : {
        label : 'Female',
        participantIds : females,
        categoryType : 'manual',
        categoryId: genderCategoryId
      },
      success : alert('Done!')
    })
  }

  function onSuccessDemo(results) {
    var rows = results.rows;
    var length = rows.length;
    for(var idx=0; idx < length; idx ++){
      var row = rows[idx];
      if(row['gender'] == 'Male'){
        males.push(row['SUBJECT_ACCESSION'])
      } else if(row['gender'] == 'Female'){
        females.push(row['SUBJECT_ACCESSION'])
      }
    }
    document.getElementById('subs').innerHTML = males.length + ' males<br>' + females.length + ' females';
  }

  function onSuccessMales(){
    LABKEY.Query.selectDistinctRows({
        column: 'RowId',
        schemaName: 'study',
        queryName: 'SubjectCategory',
        filterArray: [LABKEY.Filter.create('Label', 'Gender', LABKEY.Filter.Types.EQUAL)],
        success: onSuccessCat,
        failure: onError
    })
  }

  function onSuccessCat(results){
    genderCategoryId = results.values[0];
    addFemales();
    var url = LABKEY.ActionURL.buildURL('project', 'begin.view', null, {pageId:'study.PARTICIPANTS'})
    document.getElementById('goToSubs').innerHTML = '<a href="' + url + '">Subjects</a>';
  }

  function onError(errorInfo) {
      alert(errorInfo.exception);
  };
</script>
