<style type="text/css">

    div.wrapper {
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        margin-top: -10px;
        width : 974px;
    }

    div.wrapper .x4-panel-body {
        background-color: transparent;
    }

    div.main {
        background-color: white;
        padding: 10px 20px 20px 20px;
        margin-top: 10px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.06), 1px 0 0 rgba(0,0,0,0.06), 0 1px 0 rgba(0,0,0,0.12);
    }

    div.main h2 {
        display: inline-block;
        text-transform: uppercase;
        font-weight: normal;
        background-color: #126495;
        color: white;
        font-size: 13px;
        padding: 9px 20px 7px 20px;
        margin-top: -20px;
        margin-left: -20px;
    }

    div.main h3 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 0px 10px 50px;
        border-bottom: 1px solid darkgray;
    }

    #demographics-content .detail {
        font-size: 15px;
        padding-left: 30px;
        padding-bottom: 5px;
    }

    #demographics-content .detail td {
        font-size: 15px;
    }

    #demographics-content h3 {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }

    #demographics-content td {
        padding: 3px;
    }

    #demographics-content td.label,
    td.label, div.label, a.label {
        font-size: 12px;
        color: #a9a9a9;
        vertical-align: text-top;
    }
    div.main-body {
        margin-top: 0.5em;
    }

    #assays-content .detail td {
        font-size: 15px;
        padding: 3px;
    }

    .thumb.x-panel-header {
        background-color: transparent;
    }

</style>

<div id="participant-view"></div>
<script type="text/javascript">

    var outer_panel = null;
    var subject_accession = null;

    LABKEY.requiresExt4ClientAPI(true, function() {

        var init = function() {
            Ext4.QuickTips.init();

            subject_accession = LABKEY.ActionURL.getParameter('participantId') || 'SUB112829';
            outer_panel = Ext4.create('Ext.panel.Panel', {
                renderTo : 'participant-view',
                border : false, frame : false,
                cls : 'wrapper',
                layout : 'column',
                items : [{
                    xtype : 'container',
                    id : 'leftContainer',
                    columnWidth : .55,
                    padding: 10,
                    items : []
                },{
                    xtype : 'container',
                    id : 'rightContainer',
                    columnWidth : .45,
                    padding: 10,
                    items : []
                }]
            });

            getDemographicCfg();
            getAssayDataCfg();
        };

        Ext4.QuickTips.init();
        Ext4.onReady(init);
    });

    function getDemographicCfg()
    {
        var tpl = new Ext4.XTemplate(
            '<div id="demographics" class="main">',
                '<h2>Information</h2>',
                '<div id="demographics-content">',      // TODO: move these image references to the web resources directory
                    '<h3 style="background: url(' + LABKEY.contextPath + '/files/HIPC-DB/demo/@files/images/pie.png) no-repeat; background-size: 60px;">Demographics</h3>',
                    '<table class="detail" style="margin-left: 30px">',
                        '<tr><td class="label"  width="120px">Description</td><td>{description:this.renderNull}</td></tr>',
                        '<tr><td class="label"  width="120px">Phenotype</td><td>{phenotype:this.renderNull}</td></tr>',
                        '<tr><td class="label"  width="120px">Age</td><td>{age:this.renderNull}</td></tr>',
                        '<tr><td class="label"  width="120px">Strain</td><td>{strain:this.renderNull}</td></tr>',
                        '<tr><td class="label"  width="120px">Strain Characteristics</td><td>{strain_characteristics:this.renderNull}</td></tr>',
                        '<tr><td class="label"  width="120px">Gender</td><td>{gender:this.renderNull}</td></tr>',
                        '<tr><td class="label"  width="120px">Ethnicity</td><td>{ethnicity:this.renderNull}</td></tr>',
                        '<tr><td class="label"  width="120px">Population Name</td><td>{population_name:this.renderNull}</td></tr>',
                        '<tr><td class="label"  width="120px">Race</td><td>{race:this.renderNull}</td></tr>',
                        '<tr><td class="label"  width="120px">Species</td><td>{species:this.renderNull}</td></tr>',
                    '</table>',
                    '<h3 style="background:  url(' + LABKEY.contextPath + '/files/HIPC-DB/demo/@files/images/groups.svg) no-repeat; background-size: 35px; background-position: 12px 0; ">Subject Groups</h3>',
                    '<table class="detail" style="margin-left: 30px">',
                        '<tr><td class="label"  width="120px">Groups</td><td>{groups:this.renderNull}</td></tr>',
                    '</table>',
                '</div>',
            '</div>',
                {
                    renderNull : function(v) {
                        return (v == undefined || v == null || v == "") ? "--" : v;
                    }
                }
        );

        Ext4.getCmp('leftContainer').add({
            xtype : 'component',
            id : 'demographics-' + subject_accession,
            tpl : tpl,
            border : false, frame : false,
            data : {}
        });

        var sql = "SELECT d.phenotype, " +
                "(d.age_reported || ' ' || d.age_unit || ' (' || d.age_event || ')') AS age,  " +
                "d.gender, d.ethnicity, " +
                "CASE WHEN d.race_specify IS NOT NULL THEN d.race_specify ELSE d.race END AS race, " +
                "d.species, d.description, d.population_name, d.strain, d.strain_characteristics, " +
                "s.groups " +
                "FROM demographics AS d " +
                "LEFT JOIN (SELECT subject_accession, GROUP_CONCAT(DISTINCT GroupId.Label) AS groups FROM SubjectGroupMap GROUP BY subject_accession) AS s " +
                "   ON s.subject_accession = d.subject_accession " +
                "WHERE d.subject_accession='" + subject_accession + "'";

        var demo_store = Ext4.create('LABKEY.ext4.data.Store', {
            schemaName : 'study',
            sql : sql,
            autoLoad : true,
            listeners : {
                load : function(s) {
                    var c = Ext4.getCmp('demographics-' + subject_accession);
                    if (c) { c.update(s.getAt(0).data); }
                },
                scope : this
            },
            scope : this
        });
    }

    function getAssayDataCfg()
    {
        var tpl = new Ext4.XTemplate(
            '<div id="assays" class="main">',
                '<h2>Data</h2>',
                '<div id="assays-content" class="main-body">',
                    '<h3 style="background: url(' + LABKEY.contextPath + '/files/HIPC-DB/demo/@files/images/assays.gif) no-repeat; background-size: 30px;">Assays</h3>',
                    '<table class="detail">',
                    '<tpl for="rows">',
                        '<tr>' +
                            '<td>{[this.addLineBreak(xindex, values.SubGroupingVal)]}{[this.renderAssayGrouping(values)]}</td>',
                            '<td style="text-align: right; width: 70px;" {[this.renderClass(values.SubGroupingVal)]}>{[this.addLineBreak(xindex, values.SubGroupingVal)]}{TypeCount}</td>' +
                        '</tr>',
                    '</tpl>',
                    '</table>',
                '</div>',
            '</div>',
            {
                addLineBreak : function(index, subGrouping) {
                    return (index > 1 && !subGrouping) ? "<br/>" : "";
                },
                renderClass : function(subGrouping) {
                    return subGrouping ? "class='label'" : "";
                },
                renderAssayGrouping : function(values) {
                    var val = values.AssayLabel;
                    var params = {datasetId: values.DatasetId};

                    if (values.SubGroupingVal)
                    {
                        val = "&nbsp;&nbsp;&nbsp;&nbsp;" + values.SubGroupingVal;
                        var groupingFilter = LABKEY.Filter.create(values.SubGroupingCol, values.SubGroupingVal);
                        params[groupingFilter.getURLParameterName().replace('query.', 'Dataset.')] = groupingFilter.getURLParameterValue();
                    }

                    var subjectFilter = LABKEY.Filter.create('subject_accession', subject_accession);
                    params[subjectFilter.getURLParameterName().replace('query.', 'Dataset.')] = subjectFilter.getURLParameterValue();

                    return "<a href='" + LABKEY.ActionURL.buildURL('study', 'dataset.view', null, params) + "' target='_blank'"
                            + (values.SubGroupingVal ? " class='label'>" : ">") + val + "</a>";
                }
            }
        );

        Ext4.getCmp('rightContainer').add({
            xtype : 'component',
            id : 'assays-' + subject_accession,
            tpl : tpl,
            border : false, frame : false,
            data : {}
        });

        var knownAssayGroupings = {elisa: 'analyte',
            elispot: 'analyte',
            hai: 'virus_strain',
            pcr: null,
            virus_neut: 'virus_strain'
        };

        LABKEY.Query.executeSql({
            schemaName: 'study',
        	sql: "SELECT datasetid, name, label, showbydefault FROM study.DataSets WHERE CategoryId.Label = 'Assays' ORDER BY DisplayOrder",
        	success: function(data){
        		var unionSql = "";
        		for (var i = 0; i < data.rows.length; i++)
        		{
        			var row = data.rows[i];

                    // skip the hidden datasets (issue 55)
                    if (!row.showbydefault)
                        continue;

        			if (unionSql.length > 0)
        				unionSql += " UNION ";
                    // total count for the assay
        			unionSql += "(SELECT 1 AS SortOrder, CONVERT('" + row.datasetid + "', SQL_INTEGER) AS DatasetId, "
                        + "CONVERT('" + row.name + "', SQL_VARCHAR) AS AssayName, "
                        + "CONVERT('" + row.label + "', SQL_VARCHAR) AS AssayLabel, "
                        + "NULL as SubGroupingCol, NULL AS SubGroupingVal, count(*) AS TypeCount "
        				+ "FROM study." + row.name + " WHERE subject_accession = '" + subject_accession + "')";

                    if (knownAssayGroupings[row.name])
                    {
                        // sub-grouping for teh assay
                        unionSql += " UNION "
                                + "(SELECT 2 AS SortOrder, CONVERT('" + row.datasetid + "', SQL_INTEGER) AS DatasetId, "
                                + "CONVERT('" + row.name + "', SQL_VARCHAR) AS AssayName, "
                                + "CONVERT('" + row.label + "', SQL_VARCHAR) AS AssayLabel, "
                                + "CONVERT('" + knownAssayGroupings[row.name] + "', SQL_VARCHAR) AS SubGroupingCol, "
                                + knownAssayGroupings[row.name] + " as SubGroupingVal, count(*) AS TypeCount "
                                + "FROM study." + row.name + " "
                                + "WHERE subject_accession = '" + subject_accession + "' "
                                + "GROUP BY " + knownAssayGroupings[row.name] + ")";
                    }
        		}

                if (unionSql.length > 0)
                {
                    unionSql = "SELECT * FROM (" + unionSql + ") AS AssayUnionQuery WHERE TypeCount > 0 ORDER BY AssayName ASC, SortOrder ASC, TypeCount DESC LIMIT 1000";

                    LABKEY.Query.executeSql({
                        schemaName: 'study',
                        sql: unionSql,
                        success: function(assaysData){
                            var a = Ext4.getCmp('assays-' + subject_accession);
                            if (a) { a.update(assaysData); }
                        }
                    });
                }
        	}
        });
    }
</script>