/* Import ImmuneSpace Themes */
@use "~@immunespace/theme/dist/immunespace";
@use "~@immunespace/theme/dist/immunespace.responsive" as responsive;
@use "../theme/components.history-block";

main#ae-main {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  position: relative;
  color: immunespace.$dark-gray;
}

.ae-analyte-selector-container {
  margin-bottom: 1rem;
}

.ae-plot-content {
  min-width: 500px;
  min-height: 500px;
}

.ae-analyte-selector-container,
.ae-plot-content {
  border: 1px solid #828282;
}

.ae-analyte-selector-content,
.ae-get-started {
  margin: 1.5rem;
}
.ae-home {
  &-content {
    position: absolute;
    top: 148px;
    left: 138px;
    width: 70%;
    z-index: -1;
  }
  &-data-processing {
    p {
      font-size: 14px;
      font-weight: immunespace.$font-weight--medium;
    }
  }

  &-tutorial-instructions {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 0;
    // span {
    //   display: block;
    //   font-size: 14px;
    //   font-weight: immunespace.$font-weight--semibold;
    // }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      span {
        width: 70%;
        text-align: center;
        font-size: 14px;
        font-weight: immunespace.$font-weight--semibold;
      }
    }
  }

  &__tutorial-icon {
  }
}

.ae-home-arrow-text {
  &:hover {
    text-decoration: none;
    color: #1a1a1a;
  }
  span {
    font-size: 14px;
    font-weight: immunespace.$font-weight--bold;
  }
}
