<!DOCTYPE html>

<html>
<head>
    <title>HIPC Data Standards</title>
    </head>
<body>
<p>The HIPC data standards working group defines the metadata, assay results  and controlled vocabularies used by HIPC centers to submit experimental results to NIAID/ImmPort. Most of the standards we develop are incorporated into the ImmPort data deposition templates.</p>   
<p>HIPC specifies content for some experiment types. This includes:</p>
<ul>
    <li><strong>Transcriptional Profiling Experiments (e.g. microarray and RNA-seq)</strong>
    <br>In addition to the experimental metadata submission to ImmPort, HIPC requires submission of the underlying data to NCBI. 
    For details, please see <a href="http://www.immport.org/immport-open/resources/images/home/HIPC.Transcriptional_Profiling_Data_Standards.txt">HIPC Standards Working Group Transcription Profiling standards</a>.
    </li>
    <li><strong>Cell Cytometry Experiments</strong><br>
    In addition to raw data in .fcs files, HIPC requires the submission of derived data (e.g., the cell population frequencies).
    </li>
    <li><strong>Multiplex Bead Array Assays (MBAA) Experiments (e.g. Luminex)</strong><br>
    In addition to results from the assayed biological samples (experimental samples), HIPC requires submission of the results from the control samples and their standard curves. 
    These are submitted using the control sample and standard curve templates.
    </li>
</ul>
<p>All HIPC centers submit data directly to ImmPort using the templates available at <a href="http://www.immport.org/immport-open/public/home/dataTemplates">immport.org</a></p>
                                                                                                                       
<p><strong>Questions?</strong></p>
<p>For questions about ImmPort data depositions, email: <a href="mailto:bisc_helpdesk@niaid.nih.gov">bisc_helpdesk@niaid.nih.gov</a></p>
<p>For questions about HIPC data standards, email: <a href="mailto:hipc-standards@googlegroups.com">hipc-standards@googlegroups.com</a></p>
<p>More information about HIPC can be found at <a href="www.immuneprofiling.org">immunepofiling.org</a>

</body>
</html>

