<!--DOCTYPE html-->
<table border="1" cellpadding="5">
<tbody>
    <tr>
        <th><strong>Name</strong></th>
        <th><strong>Description</strong></th>
        <th><strong>Purpose</strong></th>
        <th><strong>Status</strong></th>
        <th><strong>Target Completion Date</strong></th>
    </tr>
    <tr>
        <td>Add more flow cytometry data support</td>
        <td>We are looking at ways to increase users' access to raw and processed flow cytometry data</td>
        <td>Increase value to users</td>
        <td>Internal planning and discussion</td>
        <td>Fall 2018</td>
    </tr>
    <tr>
        <td>Dimension Reduction Module</td>
        <td>Create custom UI-based report for QC purposes and identifying outlier subjects</td>
        <td>Make it easier for users to screen studies and subjects prior to analysis</td>
        <td>Ongoing development on test server</td>
        <td>Mid 2018</td>
    </tr>
    <tr>
        <td>User Outreach</td>
        <td>Contact HIPC users and discuss current functionality, as well as ideas for future development</td>
        <td>Increase value to users</td>
        <td>In process, survey to be completed soon</td>
        <td>Mid 2018</td>
    </tr>
    <tr>
        <td>Collaborative Workspaces</td>
        <td>Building on the integrated Rstudio session feature and participant group querying, users will be able to share a saved script from an integrated Rstudio session with collaborators allowing teams to focus on analysis instead of coordinating operating environments, e.g. R package versions and environmental variables.</td>
        <td>Save collaborators time</td>
        <td>Testing by LabKey</td>
        <td>Mid 2018</td>
    </tr>
    <tr>
        <td>RNAseq-to-expression matrix pipeline standardization</td>
        <td>Work with HIPC Biostatistics and Bioinformatics Subcommittee to determine best processing system for RNAseq data as more is becoming available in IS database</td>
        <td>Attract more users with more available pre-processed expression data</td>
        <td>In discussion</td>
        <td>Mid 2018</td>
    </tr>
    <tr>
        <td>Run Differential Expression Analysis on new expression matrices</td>
        <td>Again using our study compliance check maintenance function we will identify studies that have gene expression matrices that can now have the differential expression analysis run so that more modules may be turned on for that study.</td>
        <td>Attract more users with more available pre-processed expression data</td>
        <td>Ongoing on Test Server</td>
        <td>June 2018</td>                                                                               
    </tr>
    <tr>
        <td>Create expression matrices for all feasible studies</td>
        <td>Using our study compliance check function we have identified studies that have the raw files or data for gene expression matrices, but have not had matrices created yet.  We will add these studies or document the reasons for not having a matrix yet.</td>
        <td>Attract more users with more available pre-processed expression data</td>
        <td>Ongoing on Test Server</td>
        <td>June 2018</td>
    </tr>
    <tr>
        <td>ImmuneSpaceR Update- 1.7.3</td>
        <td>Major update - see github repo for details</td>
        <td>Improved user experience</td>
        <td>Complete</td>
        <td>NA</td>                                                                               
    </tr>   
    <tr>
        <td>LabKey Server Update - 18.1</td>
        <td>Major update</td>
        <td>Improved user experience</td>
        <td>Complete</td>
        <td>NA</td>                                                                               
    </tr>
    <tr>
        <td>Migration to new LabKey UI</td>
        <td>Adapt all front-end components of custom modules to work with Node.js framework underlying LabKey JS API. Rewrite UI tests as necessary.</td>
        <td>Improved user experience</td>
        <td>Complete</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>LabKey Server Update - 17.3</td>
        <td>Major update, especially to UI</td>
        <td>Improved user experience and easier front-end development</td>
        <td>Complete</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>Allow NAb as response variable in custom modules</td>
        <td>In addition to HAI, allowing Neutralizing Antibody Titer data as the immune response data in Gene Expression Explorer and Immune Response Predictor modules will enable more studies to use these modules</td>
        <td>Increase UI-based analysis options</td>
        <td>Complete</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>DR24</td>
        <td>Data Release 24 from ImmPort, incl. 1 new HIPC study (SDY888)</td>
        <td>Attract more users with larger dataset</td>
        <td>Complete</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>IS1 Virtual Study</td>
        <td>Create and publish virtual study to reproduce the results of the ImmuneSignatures Project by HIPC collaborators</td>
        <td>Demonstrate meta-analysis and study publishing features</td>
        <td>Complete</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>Public Study Overview</td>
        <td>Allow public, non-signed-in users to view the overview page of public studies coming from a redirect</td>
        <td>Increase usership</td>
        <td>Complete</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>Improving Site Reliability</td>
        <td>A group of tasks that includes UI testing improvements (e.g. switching headless browsers to Chrome)</td>
        <td>Better user experience</td>
        <td>Complete</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>ImmuneSpaceR API Update</td>
        <td>Upgrading the API to include more unit tests as well as internal maintenance functions. Introduction of participant group querying functions.</td>
        <td>Improve API functionality and reliability</td>
        <td>Complete</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>DR22</td>
        <td>Data Release 22 from ImmPort, incl. 2 new HIPC studies (SDY1041 and SDY1097)</td>
        <td>Attract more users with larger dataset</td>
        <td>Complete</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>Standardizing Gene Symbols</td>
        <td>Behind-the-scenes work to ensure that all modules and API methods use consistent and up-to-date gene symbols based on hs.eg.Org.db R package</td>
        <td>Ensure consistency across studies to allow for meta-analyses</td>
        <td>Complete</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>Publish Study</td>
        <td>Allow users to publish a study within ImmuneSpace, including Rmd files with reproducible reports based on IS Data</td>
        <td>Support users in disseminating their research</td>
        <td>Complete</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>Integrated Rstudio</td>
        <td>Allow users to work with ImmuneSpace data in an integrated Rstudio session run in a docker container</td>
        <td>Save users' time by taking over maintenance of analysis environment</td>
        <td>Complete</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>DR21</td>
        <td>Data Release 21 from ImmPort with 2 new studies, incl. HIPC study SDY522</td>
        <td>Attract more users with larger dataset</td>
        <td>Complete</td>
        <td>NA</td>
    </tr>
</tbody>
</table>
