<!--ROADMAP-->
<!DOCTYPE html>
<html>
<head>
<style>
 
.sp th, .sp td {
            border: 2px solid black;
            padding: 10px;
        }

</style>
</head>

<body>

<div>
    <table class="sp" style="width: 80%; margin:0 auto; border-collapse: collapse">
        <tr>
            <th><b>Name</b></th>
            <th><b>Description</b></th>
            <th><b>Status</b></th>
            <th><b>Timeframe</b></th>
        </tr>
        <tr>
            <th>DR21</th>
            <th>ImmPort Data Release 21 with 2 new studies</th>
            <th>In Progress: On test, going to production</th>
            <th>Q2 2017</th>
        <tr>
        </tr>
            <th>Integrated RStudio</th>
            <th>Allow users to work with ImmuneSpace data in an integrated Rstudio session run within a docker container</th>
            <th>In Progress: On test, going to production</th>
            <th>Q2 2017</th>
        </tr>
        <tr>
            <th>Publish Study</th>
            <th>Allow users to publish a study within ImmuneSpace, including markdown files with reproducible reports based on IS data</th>
            <th>In Progress: Not yet on test</th>
            <th>Q2 2017</th>
        </tr>
        <tr>
            <th>Standardizing Gene Symbols</th>
            <th>Behind the scenes work to ensure all modules and API methods use consistent and up-to-date gene symbols based on the hs.eg.Org.db R package</th>
            <th>In Progress: In testing</th>
            <th>Q3 2017</th>
        </tr>
        <tr>
            <th>DR22</th>
            <th>ImmPort Data Release 22</th>
            <th>Waiting on ImmPort</th>
            <th>Q3 2017</th>
        </tr>
        <tr>
            <th>ImmuneSpaceR API Update</th>
            <th>Upgrading the API to include more unit tests as well as internal maintenance functions. Introduction of participant group querying functions.</th>
            <th>In Progress: Tests added to dev branch, pgroup functions waiting merge into trunk</th>
            <th>Q3 2017</th>
        </tr>
        <tr>
            <th>Improving Site Reliability</th>
            <th>A group of tasks that includes UI testing updates and better error handling</th>
            <th>In Progress: currently on test</th>
            <th>Q3 2017</th>
        </tr>
        <tr>
            <th>LabKey Updates</th>
            <th>Major updates, including UI, to be added in 17.2 build</th>
            <th>In Progress: Currently working with some 17.2 features on test</th>
            <th>Q3 2017</th>
        </tr>
        <tr>
            <th>Public Study Overview</th>
            <th>Allow public / non-signed-in users to view the overview page of public studies coming from a redirect</th>
            <th>In Discussion with LabKey re: feasibility and scoping</th>
            <th>Q4 2017</th>
        </tr>
        <tr>
            <th>Collaborative Workspaces</th>
            <th>Building on integrated RStudio session and participant group querying, users will be able to share an integrated RStudio project with others to facilitate collaboration by ensuring consistent computing environment, data, and code.</th>
            <th>Scoping with LabKey</th>
            <th>TBD 2018</th>
        </tr>
    </table>
</div>

</body>
</html>
