<div id='studies' class="wiki-list">
    Log in to see this content
</div>

<script type="text/javascript">
    SQL =
    'SELECT ' +
    '    StudyProperties.Label, ' +
    '    CAST( REPLACE( StudyProperties.Label, \'SDY\', \'\' ) AS INTEGER ) AS Num, ' +
    '    hipc.hipc_funded IS NOT NULL AS hipc_funded ' +
    'FROM ' +
    '    study.StudyProperties ' +
    '    LEFT OUTER JOIN immport.ISC_HIPC_funded_studies hipc ON ' +
    //'    LEFT OUTER JOIN immport.public.ISC_HIPC_funded_studies hipc ON ' +
    '    StudyProperties.Label = hipc.study_accession ' +
    'WHERE ' +
    '    StudyProperties.Label NOT IN (\'Studies\', \'SDY_template\')';

    if ( ! LABKEY.user.isGuest && LABKEY.user.isSignedIn ){
    LABKEY.Query.executeSql({
        containerFilter: 'CurrentAndFirstChildren',
        containerPath: '/Studies',
        failure: function(){ console.log( 'Could not fetch the contents for the Studies menu.' ); },
        schemaName: 'study',
        sql: SQL,
        sort: 'Num',
        success: function(d){
            if ( d.rows.length > 0 ){
            var toAdd = [];

                Ext.each( d.rows, function(row, i){
                    toAdd.push( '<a href="/project/Studies/' + row.Label + '/begin.view?"><li>' + row.Label + ( row.hipc_funded ? '*' : '' ) + '</li></a>' );
                });

                jQuery('#studies').empty();

                jQuery('#studies').append(
                    '<ul style="width: 130px; padding-left: 0px; margin-top: 0px; margin-bottom: 0px;">' +
                        '<a href="/project/Studies/begin.view?"><li>Data Finder</li></a>' +
                    '</ul>'
                );

                var input = jQuery('<input>').attr({
                    class: 'filterinput',
                    placeholder: 'Search...',
                    style: 'margin-top: 5px; margin-bottom: 5px; width: 130px;',
                    type: 'search'
                });

                jQuery.expr[':'].Contains = function(a,i,m){
                    return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
                };

                jQuery('#studies').append( input );

                jQuery(input).on('keyup click input', function(){
                    var filter = jQuery(this).val(); // get the value of the input, which we filter on
                    jQuery('#list').find('li:not(:Contains(' + filter + '))').parent().hide();
                    jQuery('#list').find('li:contains(' + filter + ')').parent().show();
                });

                jQuery('#studies').append(
                    '<ul id="list" style="max-height: 400px; width: 130px; overflow-y: auto; padding-left: 0px; margin-top: 0px; margin-bottom: 0px;">' +
                    toAdd.join('') +
                    '</ul>' +
                    '<ul style="width: 130px; padding-left: 0px; margin-top: 0px; margin-bottom: 0px;">' +
                        '<div>* HIPC funded</div>' +
                    '</ul>'
                );
            }
        }
    });
    }
</script>

