/*
  Typography :: Baseline styles */

p {
  font-size: 1rem;
  line-height: 1.5;
}

.caps {
  text-transform: uppercase;
}

a {
  color: $blue;
  text-decoration: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: $nunito-sans;
}

h1, .h1 {
  font-weight: $font-weight--black;
  font-size: 3rem;
  line-height: 52px;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.5rem;
}
