// Media Query Generator

@mixin media-query($mq) {
  $breakpoint-found: false;

  // Loop through the list of breakpoints we’ve provided in our settings file.
  @each $breakpoint in $breakpoints {
    // Grab the alias and the condition from their respective locations in
    // the list.
    $alias: nth($breakpoint, 1);
    $condition: nth($breakpoint, 2);

    // If the media query we’ve specified has an alias and a condition...
    @if $mq == $alias and $condition {
      // ...tell the mixin that we’ve found it...
      $breakpoint-found: true;

      // ...and spit it out here.
      @media #{$condition} {
        @content;
      }
    }
  }

  // If the user specifies a non-exitent alias, send them a warning.
  @if $breakpoint-found == false {
    @warn "Oops! Breakpoint ‘#{$mq}’ does not exist.";
  }
}

// Add breakpoints
$breakpoints: (
  "mega" "screen and (min-width: 1400px)",
  "xxl" "screen and (min-width: 1300px)",
  "xl" "screen and (min-width: 1200px)",
  "desk" "screen and (min-width: 1024px)",
  "lg" "screen and (min-width: 920px)",
  "tab" "screen and (min-width: 768px)",
  "mobile" "screen and (max-width: 767px)",
  "video" "screen and (max-height: 900px)",
  "med" "screen and (min-width: 40em)",
  "small" "screen and (min-width: 30em)",
  "tiny" "screen and (max-width: 320px)",
  "retina"
    "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)",
  "ie" "all and(-ms-high-contrast: none), (-ms-high-contrast: active)",
  "ipad" "screen and (min-device-width : 768px) and (max-device-width : 1024px)"
) !default;
